@model List<iTrade.Models.PaySlipDetail>

@using (Html.BeginForm("", "", FormMethod.Post, new { id = "EditDetailForm" }))
{
    <table class="table table-condensed">
        <thead>
            <tr>
                <th class="col-md-1">
                </th>
                <th class="col-md-1">Date</th>
                <th class="col-md-1">ClassDesc</th>
                <th class="col-md-1">ClassType</th>
                <th class="col-md-1">StartTime</th>
                <th class="col-md-1">EndTime</th>
                <th class="col-md-1">Hour</th>
                <th class="col-md-1">Hourly Rate</th>
                <th class="col-md-1">Student Quantity</th>
                <th class="col-md-1">Amount</th>
            </tr>
        </thead>
        <tbody>
            @{ double sum = 0;}
            @for (int i = 0; i < Model.Count; i++)
            {
                <tr>
                    <td>
                        <button type="button" id="btnDel" onclick="delItem(@Model[i].PaySlipDetailID)" class="btn btn-xs btn-primary"><span class="fa fa-remove" aria-hidden="true"></span></button>
                        @*<button type="button" id="btnEdit" onclick="" class="btn btn-xs btn-primary"><span class="fa fa-edit m-r-5" aria-hidden="true"></span></button>&nbsp;&nbsp;*@    
                    </td>
                    <td>
                        @Model[i].Date
                    </td>
                    <td>
                        @Model[i].ClassDesc
                    </td>
                    <td>
                        @Model[i].ClassType
                    </td>
                    <td>
                        @Model[i].StartTime
                    </td>
                    <td>
                        @Model[i].EndTime
                    </td>
                    <td>
                        @Model[i].Hour
                    </td>
                    <td>
                        @Model[i].HourlyRate
                    </td>
                    <td>
                        @Model[i].Quantity
                    </td>
                    <td>
                        @Model[i].Amount                       
                    </td>
                </tr>
            }           
        </tbody>
    </table>
}

<script>
    function delItem(ID) {
        $.ajax({
            type: 'GET',
            url: '/PaySlip/DeleteConfirmed',
            dataType: "json",
            contentType: 'application/json, charset=utf-8',
            data: {
                id: ID
            },
            success: function (result) {
                if (result.success) {
                    //alert("Item Deleted");
                    window.location.reload();
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }

        });
    }
</script>