@model iTrade.Models.Schedule
@using iTrade.Models

@using (Html.BeginForm("_AddSchedule", "Schedule", FormMethod.Post, new { id = "addScheduleForm" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="panel panel-inverse">
    <div class="panel-body">
        <div class="row">
            @Html.HiddenFor(model => model.ScheduleID)
            @Html.HiddenFor(model => model.CourseID, new { id = "courseID2", @Value = "0" })
            @Html.HiddenFor(model => model.CourseName, new { id = "courseName2", @Value = "" })
            @Html.HiddenFor(model => model.CourseCode, new { @Value = "" })
            @Html.HiddenFor(model => model.StartTime, new { @Value = "" })
            @Html.HiddenFor(model => model.EndTime, new { @Value = "" })
            @Html.HiddenFor(model => model.Status, new { @Value = "Confirmed" })
            @Html.HiddenFor(model => model.CreatedBy)
            @Html.HiddenFor(model => model.CreatedOn)
            @Html.HiddenFor(model => model.ModifiedBy)
            @Html.HiddenFor(model => model.ModifiedOn)


            <div class="form-horizontal">
                <div class="form-group">
                    @Html.LabelFor(model => model.CourseName, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-8">
                        <select id="selectCourse" class="form-control coursepicker2">
                            <option value="0">Select course</option>
                            @foreach (var item in ViewData["CoursesAll"] as IEnumerable<iTrade.Models.Course>)
                            {
                                <option value="@item.CourseID"
                                        @if (item.CourseID == Model.CourseID) { <text> selected="selected" </text>               }>
                                    @item.CourseName
                                </option>
                            }
                        </select>

                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ScheduleTitle, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-3">
                        @Html.EditorFor(model => model.ScheduleTitle, new { htmlAttributes = new { id = "scheduleTitle", @class = "form-control", placeholder = "Title" } })
                        @Html.ValidationMessageFor(model => model.ScheduleTitle, "", new { @class = "text-danger" })
                    </div>
                    @Html.LabelFor(model => model.ScheduleType, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-3">
                        @Html.EditorFor(model => model.ScheduleType, new { htmlAttributes = new { id = "scheduleType", @class = "form-control", placeholder = "Type" } })
                        @Html.ValidationMessageFor(model => model.ScheduleType, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.ScheduleDate, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-3">
                        @Html.EditorFor(model => model.ScheduleDate, new { htmlAttributes = new { id = "scheduleDate", @class = "scheduleDate form-control" } })
                        @Html.ValidationMessageFor(model => model.ScheduleDate, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.StartTimeValue, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-3">
                        <div class="input-group bootstrap-timepicker">
                            @Html.EditorFor(model => model.StartTimeValue, new { htmlAttributes = new { id = "startTime", @class = "timepicker form-control" } })
                            <span class="input-group-addon"><i class="fa fa-clock-o"></i></span>
                            @Html.ValidationMessageFor(model => model.StartTimeValue, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    @Html.LabelFor(model => model.EndTimeValue, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-3">
                        <div class="input-group bootstrap-timepicker">
                            @Html.EditorFor(model => model.EndTimeValue, new { htmlAttributes = new { id = "endTime", @class = "timepicker form-control" } })
                            <span class="input-group-addon"><i class="fa fa-clock-o"></i></span>
                            @Html.ValidationMessageFor(model => model.EndTimeValue, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Remark, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.Remark, new { htmlAttributes = new { id = "remark", @class = "form-control", placeholder = "Remark" } })
                        @Html.ValidationMessageFor(model => model.Remark, "", new { @class = "text-danger" })
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>


}

<script>
    $(document).ready(function () {
        $('#scheduleDate').datepicker({
            format: 'dd/mm/yyyy',
            setDate: new Date(),
            todayHighlight: true,
            autoclose: true
        });
        $('#scheduleDate').datepicker('setDate', new Date());
        $('.timepicker').timepicker();
    });
</script>

<script type="text/javascript">
    $(document).ready(function () {
        $("select.coursepicker2").change(function () {
            var courseid = $(".coursepicker2 option:selected").val();
            var coursename = $(".coursepicker2 option:selected").text();

            $('#courseID2').val(courseid);
            $('#courseName2').val(coursename);

        });

    });
</script>




