@model List<iTrade.Models.TutorRate>

@using (Html.BeginForm("", "", FormMethod.Post, new { id = "EditDetailForm" }))
{
    <table class="table table-condensed">
        <thead>
            <tr>
                <th class="col-md-1">
                   &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; NO
                </th>
                <th class="col-md-1">ClassType</th>
                <th class="col-md-1">CourseName</th>
                <th class="col-md-1">CourseLevel</th>
                <th class="col-md-1">MinAttend</th>
                <th class="col-md-1">MaxAttend</th>
                <th class="col-md-1">Rate</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Count; i++)
            {
                <tr>
                    <td>
                        <button type="button" id="btnDel" onclick="delItem(@Model[i].TutorRateID)" class="btn btn-xs btn-primary"><span class="fa fa-remove" aria-hidden="true"></span></button>&nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp;
                        @*<button type="button" id="btnEdit" onclick="editItem(@Model[i].TutorRateID)" class="btn btn-xs btn-primary"><span class="fa fa-edit m-r-5" aria-hidden="true"></span></button>&nbsp; &nbsp;*@                    
                        @Model[i].Position
                    </td>
                    <td>
                        @Model[i].ClassType
                    </td>
                    <td>
                        @Model[i].CourseName                      
                    </td>
                    <td>
                        @Model[i].CourseLevel
                    </td>
                    <td>
                        @Model[i].MinAttend
                    </td>
                    <td>
                        @Model[i].MaxAttend
                    </td>
                    <td>
                        @Model[i].Rate
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

<script>
    function delItem(ID) {
        $.ajax({
            type: 'GET',
            url: '/TutorRate/DeleteConfirmed',
            dataType: "json",
            contentType: 'application/json, charset=utf-8',
            data: {
                id: ID
            },
            success: function (result) {
                if (result.success) {
                    //alert("Item Deleted");
                    window.location.reload();
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }

        });
    }
</script>