@model iTrade.Models.Tutor

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<!-- ================== BEGIN PAGE LEVEL STYLE ================== -->
<link href="@Url.Content("~/assets/plugins/DataTables/css/data-table.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/assets/plugins/gritter/css/jquery.gritter.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/assets/plugins/bootstrap-datepicker/css/datepicker.css")" rel="stylesheet" type="text/css" />

<link href="@Url.Content("~/assets/plugins/bootstrap-select/bootstrap-select.min.css")" rel="stylesheet" type="text/css" />
<link href="~/assets/plugins/jquery-file-upload/css/jquery.fileupload.css" rel="stylesheet" />
<!-- ================== END PAGE LEVEL STYLE ================== -->
<!-- begin page-header -->
<div class="page-header lead">
    Tutor Rate / @Model.TutorName
    <span class="email-btn-row pull-right">
        @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-default" })
    </span>
</div>
<!-- end page-header -->
<!-- begin page-body -->
<div class="panel-body">
    <div class="tab-content">
        <div id="TutorRate">
            @{Html.RenderAction("Detail", "TutorRate", new { id = Model.TutorID });}
            <span class="col-md-2"></span>
            <span><a href="#additemModal" data-toggle="modal" class="btn btn-primary"><i class="fa fa-plus"></i> Single item</a> </span>
        </div>
    </div>
</div>
<!-- end page-body -->

<!--Add Item-->
<div id="additemModal" class="modal" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div id='modifyItemModalContent'>
                <div class="modal-header">
                    <button type="button" class="close" id="btnAddItemClose2002" aria-hidden="true" data-dismiss="modal">X</button>
                    <h3 class="modal-title lead">No:@Model.TutorID &nbsp;&nbsp;&nbsp;&nbsp;@Model.TutorName&nbsp;(@Model.JobType)</h3>
                </div>
                <div class="modal-body">

                    @{Html.RenderAction("Item", "TutorRate", new { id = Model.TutorID});}

                    <br />

                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-primary" id="btnAddItem" value=" Save & Close " />
                    <button id="btnAddItemClose001" class="btn btn-white" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="@Url.Content("~/assets/plugins/DataTables/js/jquery.dataTables.js")"></script>
<script src="@Url.Content("~/assets/js/table-manage-default.demo.min.js")"></script>
<script src="@Url.Content("~/assets/plugins/gritter/js/jquery.gritter.js")"></script>
<script src="@Url.Content("~/assets/js/ui-modal-notification.demo.min.js")"></script>
<script src="@Url.Content("~/assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js")"></script>
<script src="@Url.Content("~/assets/js/apps.min.js")"></script>

<script src="@Url.Content("~/Scripts/modal-client.js")"></script>

<script src="@Url.Content("~/assets/plugins/bootstrap-select/bootstrap-select.min.js")"></script>
<script src="@Url.Content("~/assets/plugins/jquery-file-upload/js/jquery.fileupload.js")"></script>
}

<script>
    $("#btnAddItem").click(function (e) {

        $("#addItemFrom").submit();

    });
</script>