@model iTrade.Models.RawStock

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<h2>Details</h2>

<div>
    <h4>RawStock</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProductID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Material)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Material)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Length)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Length)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LengthUnit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LengthUnit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartQty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartQty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StockIn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StockIn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StockOut)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StockOut)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StockAdjusted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StockAdjusted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StockBalance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StockBalance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Unit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Unit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Remark)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Remark)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartedOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartedOn)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.StockID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
