@model IEnumerable<iTrade.Models.SalesOrder>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<!-- ================== BEGIN PAGE LEVEL STYLE ================== -->
<link href="@Url.Content("~/assets/plugins/DataTables/css/data-table.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/assets/plugins/gritter/css/jquery.gritter.css")" rel="stylesheet" type="text/css" />
<!-- ================== END PAGE LEVEL STYLE ================== -->
<!-- begin page-header -->
<div class="page-header lead">
    Order Submission
    <span class="email-btn-row pull-right">
        @*<a href="/Orders/CrCreate" id="btnCreate1" class="btn btn-primary"><i class="fa fa-plus m-r-5"></i> New Credit Sales Order</a>*@
    </span>

</div>
<!-- end page-header -->

<div class="">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#default-tab-1" data-toggle="tab"><h5 class="media-heading">New </h5> </a></li>
        <li class=""><a href="#default-tab-2" data-toggle="tab"><h5 class="media-heading">Confirmed</h5> </a></li>
    </ul>
</div>
<div class="tab-content">
    <div class="tab-pane fade active in" id="default-tab-1">
        @{Html.RenderAction("_DisplayOrders", "Orders", new { invtype = "CR", invstatus = "" });}

    </div>
    <div class="tab-pane fade" id="default-tab-2">
        @{Html.RenderAction("_DisplayOrders", "Orders", new { invtype = "CR", invstatus = "Confirmed" });}

    </div>
</div>





@section Scripts{
    <script src="@Url.Content("~/assets/plugins/DataTables/js/jquery.dataTables.js")"></script>
    <script src="@Url.Content("~/assets/js/table-manage-default.demo.min.js")"></script>
    <script src="@Url.Content("~/assets/plugins/gritter/js/jquery.gritter.js")"></script>
    <script src="@Url.Content("~/assets/js/ui-modal-notification.demo.min.js")"></script>
    <script src="@Url.Content("~/assets/js/apps.min.js")"></script>


}


<script>
            $(document).ready(function () {
                // App.init();
                TableManageDefault.init();
                // Notification.init();

            });
</script>


<script>
            $(document).ready(function () {
                $('#data-table0').DataTable({
                    "order": [[0, "asc"]],
                    "dom": '<"pull-left"f><"pull-right"l>tip'
                });
                $('#data-table1').DataTable({
                    "order": [[0, "desc"]],
                    "dom": '<"pull-left"f><"pull-right"l>tip'
                });
                $('#data-table2').DataTable({
                    "order": [[0, "desc"]],
                    "dom": '<"pull-left"f><"pull-right"l>tip'
                });
                $('#data-table3').DataTable({
                    "order": [[0, "desc"]],
                    "dom": '<"pull-left"f><"pull-right"l>tip'
                });
                $('#data-table4').DataTable({
                    "order": [[0, "desc"]],
                    "dom": '<"pull-left"f><"pull-right"l>tip'
                });
                $('#data-table5').DataTable({
                    "order": [[0, "desc"]],
                    "dom": '<"pull-left"f><"pull-right"l>tip'
                });
                $('#data-table6').DataTable({
                    "order": [[0, "desc"]],
                    "dom": '<"pull-left"f><"pull-right"l>tip'
                });



            });
</script>


