@model IEnumerable<iTrade.Models.StaffModelView>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<!-- ================== BEGIN PAGE LEVEL STYLE ================== -->
<link href="@Url.Content("~/assets/plugins/DataTables/css/data-table.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/assets/plugins/gritter/css/jquery.gritter.css")" rel="stylesheet" type="text/css" />
<!-- ================== END PAGE LEVEL STYLE ================== -->
<!-- begin page-header -->
<h1 class="page-header lead">Staffs </h1>
<!-- end page-header -->
<div class="email-btn-row hidden-xs">
    <a href="/Staffs/Create" id="btnCreate" class="btn btn-primary"><i class="fa fa-plus m-r-5"></i> New Staff</a>
</div>

<!-- begin row -->
<div class="row">
    <!-- begin col-12 -->
    <div class="col-md-12">
        <!-- begin panel -->
        <div class="panel panel-inverse">

            <div class="panel-body">
                <div class="table-responsive">
                    <table id="data-table1" class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.StaffID)
                                </th>
                                <th>
                                    Name
                                </th>

                                <th>
                                    @Html.DisplayNameFor(model => model.Position)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.DepartmentName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Email)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.MobileNo)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.IsActive)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Remark)
                                </th>
                                <th>
                                    Login Name
                                </th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.StaffID)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.FirstName) &nbsp; @Html.DisplayFor(modelItem => item.LastName)
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.Position)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DepartmentName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Email)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.MobileNo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.IsActive)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Remark)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DisplayName)
                                    </td>
                                    <td>
                                        <a href="@Url.Action("Edit", "Staffs", new { id = item.StaffID })" class="btn btn-primary">
                                            <span class="fa fa-angle-double-right" />
                                        </a>
                                    </td>
                                </tr>
                            }

                        </tbody>

                    </table>

                </div>
            </div>
        </div>
        <!-- end panel -->

    </div>
    <!-- end col-12 -->
</div>
<!-- end row -->
@section Scripts{
    <script src="@Url.Content("~/assets/plugins/DataTables/js/jquery.dataTables.js")"></script>
    <script src="@Url.Content("~/assets/js/table-manage-default.demo.min.js")"></script>
    <script src="@Url.Content("~/assets/plugins/gritter/js/jquery.gritter.js")"></script>
    <script src="@Url.Content("~/assets/js/ui-modal-notification.demo.min.js")"></script>
    <script src="@Url.Content("~/assets/js/apps.min.js")"></script>



}


<script>
    $(document).ready(function () {
        // App.init();
        TableManageDefault.init();
        // Notification.init();
    });
</script>

<script>
    $(document).ready(function () {
        $('#data-table0').DataTable({
            "order": [[0, "desc"]],
            "dom": '<"pull-left"f><"pull-right"l>tip'
        });
        $('#data-table1').DataTable({
            "order": [[0, "desc"]],
            "dom": '<"pull-left"f><"pull-right"l>tip'
        });
        $('#data-table2').DataTable({
            "order": [[0, "desc"]],
            "dom": '<"pull-left"f><"pull-right"l>tip'
        });
        $('#data-table3').DataTable({
            "order": [[0, "desc"]],
            "dom": '<"pull-left"f><"pull-right"l>tip'
        });
        $('#data-table4').DataTable({
            "order": [[0, "desc"]],
            "dom": '<"pull-left"f><"pull-right"l>tip'
        });
        $('#data-table5').DataTable({
            "order": [[0, "desc"]],
            "dom": '<"pull-left"f><"pull-right"l>tip'
        });
        $('#data-table6').DataTable({
            "order": [[0, "desc"]],
            "dom": '<"pull-left"f><"pull-right"l>tip'
        });



    });
</script>
